<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategoriyalar ro'yhati</title>
    <th:block layout:fragment="links">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid my-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategoriyalar</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-primary" th:href="@{/category/add}">Yangi kategoriya</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="container-fluid">
            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible">
                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    Muvaffaqiyatli saqlandi.
                </div>
            </div>
            <div th:if="${param.deleted}">
                <div class="alert alert-info alert-dismissible">
                    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                    Muvaffaqiyatli ochirildi.
                </div>
            </div>
            <!--            <div class="card">-->
            <table class="table table-striped table-bordered" id="example" style="width:100%">
                <thead>
                <tr>
                    <th width="60">ID</th>
                    <th>Nomi</th>
                    <th>Ta'rif</th>
                    <th width="100">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty(allCategory)}" th:each="item:${allCategory}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <a th:href="@{'/category/edit/'+${item.id}}">
                            <svg aria-hidden="true"
                                 class="filament-link-icon w-4 h-4 mr-1" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                </path>
                            </svg>
                        </a>
                        <a class="text-danger w-4 h-4 mr-1"
                           th:href="@{'/category/deleteCategory/'+${item.id}}">
                            <svg aria-hidden="true" class="filament-link-icon w-4 h-4 mr-1"
                                 fill="currentColor"
                                 viewBox="0 0 20 20" wire:loading.remove.delay=""
                                 wire:target="" xmlns="http://www.w3.org/2000/svg">
                                <path ath clip-rule="evenodd"
                                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(allCategory)}">
                    <td colspan="5" style="text-align: center;">Hozicha hech qanday category qoshilmagan</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card -->
    </section>
</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
            // Change the "No matching records found" text to Uzbek
            $('.dataTables_empty').text('Izlangan malumotlar topilmadi');
        });
    </script>
    <script>
        // new DataTable('#example');
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
        $('#example_filter label').contents().filter(function () {
            return this.nodeType === 3; // Filter text nodes
        }).first().replaceWith('Izlash:');
        // Change the "No matching records found" text to Uzbek
        $.fn.dataTable.ext.errMode = 'none';
    </script>
</th:block>
</body>
</html>