<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Kitoblar ro'yati</title>
    <th:block layout:fragment="links">
        <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">
        <link rel="stylesheet" th:href="@{/plugins/items/style.css}">
        <style>
            /* Add a vertical line to separate <aside> and content section */
            .vertical-line {
                border-right: 1px solid #ccc; /* Adjust border color and width as needed */
                height: 100%; /* Match the height of the content */
            }

            /* Style the content section (optional) */
            .content {
                padding: 20px; /* Add some padding to the content */
            }
            .book-card-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }

            .book-card {
                position: relative;
                width: 150px;
                height: 250px;
                border: 1px solid #ddd;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s;
            }

            .book-card img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .book-details {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: opacity 0.3s;
            }

            .open-button {
                background: #3498db;
                color: white;
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .book-card:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            .book-card:hover .book-details {
                opacity: 1;
            }

            .book-card:hover .open-button {
                opacity: 1;
            }

        </style>
    </th:block>
</head>
<body>
<div layout:fragment="header">
    <div th:insert="fragments/headerPart"></div>
</div>
<div layout:fragment="content">
    <!-- topics -->
    <section class="section">
        <div class="container">
            <div class="row">
                <aside class="col-lg-4 order-2 order-lg-1 vertical-line">
                    <!-- Search -->
                    <div class="widget">
                        <h5 class="widget-title"><span>Search</span></h5>
                        <form method="post" th:action="@{/search}" class="widget-search">
                            <input id="search-query" name="searchText" th:if="${searchItem != null}" th:value="${searchItem}" type="search" placeholder="Izlash &amp; Enter...">
                            <input id="search-query" name="searchText" th:if="${searchItem == null}" type="search" placeholder="Izlash &amp; Enter...">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>
                    <!-- categories -->
                    <div class="widget">
                        <h5 class="widget-title"><span>Kategoriyalar</span></h5>
                        <ul class="list-unstyled widget-list">
                            <li th:each="item: ${categoryList}">
                                <a th:href="@{/searchByCategory(id=${item.id})}" class="d-flex">
                                    <span th:text="${item.name}"></span>
                                    <small class="ml-auto" th:text="'(' + ${item.bookCount} + ')'"></small>
                                </a>
                            </li>
                        </ul>






                    </div>
                    <!-- tags -->
                    <div class="widget">
                        <h5 class="widget-title"><span>Tags</span></h5>
                        <ul class="list-inline widget-list-inline">
                            <li class="list-inline-item"><a href="#!">Booth</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">City</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">Image</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">New</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">Photo</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">Seasone</a>
                            </li>
                            <li class="list-inline-item"><a href="#!">Video</a>
                            </li>
                        </ul>
                    </div>
                    <!-- latest post -->
                </aside>
                <div class="col-lg-8 order-1 order-lg-2 content">
                    <!-- Kitoblar section -->
                    <h5 class="widget-title"><span>Kitoblar</span></h5>
                    <div class="book-card-container">
                        <div th:if="${bookListByCategory != null and bookListByCategory.size() > 0}" th:each="item : ${bookListByCategory}" class="book-card">
                            <img th:src="#{adminPath}+${item.getFullImage1Url()}" alt="Book 2 Cover">
                            <div class="book-details">
                                <button class="open-button">O'qish</button>
                            </div>
                        </div>
                        <div th:unless="${bookListByCategory != null and bookListByCategory.size() > 0}">
                            <p>Bunday kitob mavjud emas</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="script">

</th:block>
</body>
</html>