<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Asosiy sahifa</title>
    <th:block layout:fragment="links">
        <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/dropzone/dropzone.css}">
        <link rel="stylesheet" th:href="@{/css/custom.css}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid my-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yangi kitob kiritish</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a th:href="@{/book/book-list}" class="btn btn-primary">Orqaga</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <form th:action="@{/book/saveBook}" method="post" th:object="${productWrapper}"
                  accept-charset="UTF-8" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <input type="text" name="id" hidden class="form-control" id="id"
                                                   placeholder="Book id" readonly="readonly"
                                                   th:field="*{id}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="bookName">Kitob uchun sarlavhani kiriting </label>
                                            <input type="text" name="bookName" required id="bookName" class="form-control"
                                                   placeholder="Sarlavha"   th:field="*{bookName}">
                                            <p class="error"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="description">Ta'rif</label>
                                            <textarea name="description" id="description" cols="30" rows="10" class="summernote"
                                                      placeholder="Kitob haqida umumiy ta'rif"   th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="h4 mb-3">Kitob rasimi</h2>
                                <div class="dropzone dz-clickable">
                                    <input class="dz-message needsclick" id="image_posted1" name="image_posted1"
                                           type="file" th:field="*{image_posted1}">
                                    <input type="hidden" th:field="*{imageData}">
                                    <img th:src="@{${productWrapper.getFullImage1Url()}}"  style="width:150px;height:150px;" alt="">
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h2 class="h4 mb-3">Kitob sahifalari soni</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="isbn">ISBN (Har bir kitob uchun)</label>
                                                <input type="text" name="isbn" id="isbn" class="form-control"
                                                       placeholder="isbn"   th:field="*{isbn}">
                                                <p class="error"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="language">Nashriyot tili</label>
                                                <input type="text" name="language" required id="language" class="form-control"
                                                       placeholder="tili"   th:field="*{language}">
                                                <p class="error"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <input type="number" min="0" name="pageNumb" id="pageNumb"
                                                       class="form-control" placeholder="Sahifalari"   th:field="*{pageNumb}">
                                                <p class="error"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <input type="file"  name="pdfVersion" id="pdfVersion"
                                                       class="form-control" placeholder="Elektron versiyasini yuklang"
                                                       th:field="*{pdfVersion}">
                                                <p class="error"></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="h4 mb-3">Kitobning xolati</h2>
                                <div class="mb-3">
                                    <select name="status" th:field="*{status}" id="status" class="form-control">
                                        <option value="1">Active</option>
                                        <option value="0">Block</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h4  mb-3">Kategoriya</h2>
                                <div class="mb-3">
                                    <select name="category" id="category"  th:field="*{categoryItems.id}" class="form-control">
                                        <option value="">Kategoriya tanlang !</option>
                                        <option th:each="item:${categories}" th:utext="${item.name}" th:value="${item.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="mb-3">Mualifni tanlang</h2>
                                <div class="mb-3">
                                    <select class="form-control" th:field="*{bookAuthorList}"
                                            id="multiple-checkboxes" multiple="multiple">
                                        <option th:each="author : ${authorList}"
                                                th:utext="${author.getFirstName()}"
                                                th:value="${{author.id}}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h4  mb-3">Chop qilingan sanani tanlang</h2>
                                <div class="datepicker date input-group">
                                    <input type="text" th:field="*{dateOfPublished}" required placeholder="Choose Date"
                                           class="form-control" id="fecha1">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-5 pt-3">
                    <button type="submit" class="btn btn-primary">Yaratish</button>
                    <a href="products.html" class="btn btn-outline-dark ml-3">Bekor qilish</a>
                </div>
            </form>
        </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/plugins/dropzone/dropzone.js}"></script>
    <script th:src="@{/js/multiselect.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#multiple-checkboxes').multiselect({
                includeSelectAllOption: true,
            });


            $('.datepicker').datepicker({
                language: "es",
                autoclose: true,
                format: "dd/mm/yyyy"
            });
        });
        Dropzone.autoDiscover = false;
        $(function() {
            // Summernote
            $('.summernote').summernote({
                height: '300px'
            });

            const dropzone = $("#image").dropzone({
                init: function() {
                    this.on('addedfile', function(file) {
                        if (this.files.length > 1) {
                            this.removeFile(this.files[0]);
                        }
                    });
                },
                url: "{{ route('temp-images.create') }}",
                maxFiles: 1,
                paramName: 'image',
                addRemoveLinks: true,
                acceptedFiles: "image/jpeg,image/png,image/gif",
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(file, response) {
                    $("#image_id").val(response.id);
                }
            });

        });
    </script>
</th:block>
</body>
</html>