<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Asosiy sahifa</title>
    <th:block layout:fragment="links">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid my-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kitoblar ro'yhati</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a th:href="@{/book/addNewBook}" class="btn btn-primary">Yangi kitob qo'shish</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="container-fluid">
            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    Information saved successfully.
                </div>
            </div>
            <div th:if="${param.deleted}">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                    Information deleted successfully.
                </div>
            </div>
            <table class="table table-striped table-bordered" id="example" style="width:100%">
                <thead>
                <tr>
                    <th width="60">ID</th>
                    <th width="80"></th>
                    <th>Nomi</th>
                    <th>ISBN</th>
                    <th>Nashr sanasi</th>
                    <th>Til</th>
                    <th width="100">Status</th>
                    <th width="100">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:if="${not #lists.isEmpty(bookList)}" th:each="item:${bookList}">
                    <td th:text="${item.id}"></td>
                    <td>
                        <img th:src="@{${item.getFullImage1Url()}}"
                             width="50">
                    </td>
                    <td th:text="${item.bookName}"></td>
                    <td th:text="${item.isbn}"></td>
                    <td th:text="${item.dateOfPublished}"></td>
                    <td th:text="${item.language}"></td>
                    <td>
                        <!-- Check the "status" field -->
                        <th:block th:if="${item.status == true}">
                            <svg class="text-success-500 h-6 w-6 text-success" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </th:block>
                        <!-- If "status" is not true, display a different SVG -->
                        <th:block th:unless="${item.status == true}">
                            <svg class="text-danger h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{'/book/edit/'+${item.id}}">
                            <svg class="filament-link-icon w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path
                                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                </path>
                            </svg>
                        </a>
                        <a th:href="@{'/book/delete/'+${item.id}}" class="text-danger w-4 h-4 mr-1">
                            <svg wire:loading.remove.delay="" wire:target=""
                                 class="filament-link-icon w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path ath fill-rule="evenodd"
                                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(bookList)}">
                    <td colspan="5" style="text-align: center;">Hozicha hech qanday kitob qoshilmagan</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card -->
    </section>
</div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
            // Change the "No matching records found" text to Uzbek
            $('.dataTables_empty').text('Izlangan malumotlar topilmadi');
        });
    </script>
    <script>
        // new DataTable('#example');
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
        $('#example_filter label').contents().filter(function () {
            return this.nodeType === 3; // Filter text nodes
        }).first().replaceWith('Izlash:');
        // Change the "No matching records found" text to Uzbek
        $.fn.dataTable.ext.errMode = 'none';
    </script>
</th:block>
</body>
</html>