<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asosiy sahifa</title>
    <th:block layout:fragment="links">
        <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/dropzone/dropzone.css}">
        <link rel="stylesheet" th:href="@{/css/custom.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid my-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yangi muallif kiritish</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-primary" href="products.html">Orqaga</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <form accept-charset="UTF-8" enctype="multipart/form-data" method="POST" th:action="@{/author/saveNewAuthors}"
              th:object="${authorDtoData}">
            <!-- Default box -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="h4 mb-3">Ma'lumotlarni kiriting </h2>
                                <div class="form-group">
                                    <input class="form-control" hidden id="id" name="id"
                                           placeholder="Book id" readonly="readonly" th:field="*{id}"
                                           type="text">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="firstName">ISM</label>
                                            <input class="form-control" id="firstName" name="firstName"
                                                   placeholder="ISM"
                                                   th:field="*{firstName}" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastName">Familiya</label>
                                            <input class="form-control" id="lastName" name="lastName"
                                                   placeholder="Familiya"
                                                   th:field="*{lastName}" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <input class="form-control" id="email" name="email"
                                                   placeholder="Elektron pochta"
                                                   th:field="*{email}" type="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="description">Ta'rif</label>
                                            <textarea class="summernote" cols="30" id="description" name="description"
                                                      placeholder="Kitob haqida umumiy ta'rif"
                                                      rows="10"
                                                      th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="h4 mb-3">Muallif rasimi</h2>
                                <div class="dropzone dz-clickable">
                                    <input class="dz-message needsclick" id="image_posted1" name="image_posted1"
                                           type="file" th:field="*{image_posted1}">
                                    <input type="hidden" th:field="*{image1}">
                                    <img th:src="@{${authorDtoData.getFullImage1Url()}}"  style="width:150px;height:150px;" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="h4 mb-3">Telefon raqam</h2>
                                <div class="mb-3">
                                    <input class="form-control"  th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber"
                                           placeholder="Telefon raqam"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-5 pt-3">
                    <button class="btn btn-primary" type="submit">Yaratish</button>
                    <a class="btn btn-outline-dark ml-3" href="#">Bekor qilish</a>
                </div>
            </div>
        </form>
        <!-- /.card -->
    </section>

</div>
<th:block layout:fragment="script">
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/plugins/dropzone/dropzone.js}"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(function () {
            $('.summernote').summernote({
                height: '300px'
            });
        });
    </script>
</th:block>
</body>
</html>