<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Asosiy sahifa</title>
    <style>
        a, a:hover, a:focus {
            text-decoration: none;
            color: var(--primary-color) !important;
        }
        .text-primary {
            color: var(--primary-color) !important;
        }
    </style>
</head>
<body>
<div layout:fragment="header">
    <div th:include="fragments/header"></div>
</div>
<div layout:fragment="content">
    <!-- topics -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-title">Kitoblarni kategoriyasi boyicha izlash</h2>
                </div>
                <!-- topic-item -->
                <div class="col-lg-4 col-sm-6 mb-4"  th:each="item:${categoryList}">
                    <a th:href="@{/searchByCategory(id=${item.id})}"  class="px-4 py-5 bg-white shadow text-center d-block match-height">
                        <i class="ti-bookmark-alt icon text-primary d-block mb-4"></i>
                        <h3 class="mb-3 mt-0" th:text="${item.name}"></h3>
                        <p class="mb-0" th:text="${#strings.length(item.description) > 20 ? #strings.substring(item.description, 0, 20) + '...' : item.description}"></p>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section px-3 bg-white shadow text-center">
                        <h2 class="mb-4">Taklif va mulohazalar uchun</h2>
                        <p class="mb-4">elеktron kutubxonalar uchun elеktron katalog yaratish.</p>
                        <a th:href="@{/contact}" class="btn btn-primary">biz bilan bog'laning</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /topics -->

</div>
</body>
</html>