<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>Toshkent kimyo-texnologiya instituti Shahrisabz filiali</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Elektron kutubxona</title>

    <!--Favicon-->
    <!-- <link href="assets/img/favicon.png" rel="icon"> -->
    <link rel="icon" href="https://stict.uz/wp-content/uploads/2019/12/cropped-logo333-1-192x192.jpg" sizes="192x192">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" media="screen" />

    <!-- ** CSS Plugins Needed for the Project ** -->

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <!-- themefy-icon -->
    <link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">
    <th:block layout:fragment="links">

    </th:block>
</head>
<body>
<div layout:fragment="header">
</div>
<div layout:fragment="content">

</div>
<div th:replace="/fragments/footer"></div>

<!-- call to action -->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section px-3 bg-white shadow text-center">
                    <h2 class="mb-4">Didn&rsquo;t find an answer to your question?</h2>
                    <p class="mb-4">Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt
                        consequat quam.</p>
                    <a href="contact.html" class="btn btn-primary">contact us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /call to action -->



<!-- ** JS Plugins Needed for the Project ** -->
<!-- jquiry -->
<script th:src="@{/plugins/jquery/jquery-1.12.4.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<!-- match-height JS -->
<script th:src="@{/plugins/match-height/jquery.matchHeight-min.js}"></script>
<!-- Main Script -->
<script th:src="@{/assets/script.js}"></script>
<th:block layout:fragment="script">

</th:block>
</body>

</html>