<!-- header -->
<header class="banner overlay bg-cover" data-background="images/banner.jpg">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand px-2" th:href="@{/}">Elektron kutubxona xizmati</a>
            <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler border-0"
                    data-target="#navigation" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/}">Asosiy sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/}">Savol-javob</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/contact}">Fikr mulohazalar</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link text-dark" href="single.html">Inner Page</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- banner -->
    <div class="container section">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h1 class="text-white mb-3">
                    Toshkent kimyo-texnologiya instituti Shahrisabz filiali
                </h1>
                <p class="text-white mb-4">Elektron kutubxonaga xush kelibsz</p>
                <div class="position-relative">
                    <form method="post" th:action="@{/search}">
                        <input class="form-control" id="searchText" name="searchText"
                               placeholder="Kitob nomi yoki muallifini kiriting"
                        ><i class="ti-search search-icon"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /banner -->
</header>
<!-- /header -->
